@font-face {
    font-family: IranYekan;
    src: url(/webflow/assets/font/iranYekan/iranyekanwebbold.cfb6e26c.woff2);
    src: url(/webflow/assets/font/iranYekan/iranyekanwebregular.e31c09af.woff2);
    src: url(/webflow/assets/font/iranYekan/iranyekanwebmedium.2d4f96e5.woff);
    src: url(/webflow/assets/font/iranYekan/iranyekanwebextrabold.9346e9a2.woff);
  
  }